* {
  box-sizing: border-box;
}

html {
  background-image: url('./img/wall.jpg');
}
body {
  margin: 0;
  font-family: sans-serif;
  width: 250px;
  height: min-content;
  margin: 2% 25% 2% 25%;
}

.container {
  background-color: rgb(176, 171, 179);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
}

.title,
.container2_project,
.container2_aboutUs {
  margin: 4px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(44, 172, 172);
  text-shadow: 0.5px 0.5px 1px black;
}

.text,
.home {
  background-color: rgba(148, 201, 201, 0.995);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-shadow: 0.5px 0.5px 1px grey;
}

.textkocka,
.homeJezek,
.holky {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1);
}

.homeJezek {
  width: 100%;
}

.home,
.text,
.medailon {
  font-size: 15px;
  text-shadow: 0.5px 0.5px 1px gray;
  background-color: rgba(148, 201, 201, 0.995);
  text-align: justify;
}

p {
  margin: 0;
  padding: 20px;
}

.hrefKB,
.hrefSM,
.hrefCzechitas {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.hrefProject:hover,
.hrefKB:hover,
.hrefSM:hover,
.hrefCzechitas:hover {
  color: rgb(252, 252, 252);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.medailon_item {
  padding: 10px 20px 10px 20px;
  list-style-type: none;
  margin: 0;
}
.smajlik {
  height: 12px;
  width: 12px;
}
h5 {
  text-shadow: 0.5px 0.5px 1px gray;
  font-size: 15px;
  margin: 0;
  padding: 15px 20px 10px 20px;
}

.footer {
  background-color: rgb(176, 171, 179);
  height: 40px;
  padding-bottom: 0;
  display: flex;
  justify-content: end;
}

.post {
  width: 5rem;
  height: 2.5rem;
  filter: invert(100%);
}

@media (max-width: 450px) {
  .textkocka,
  .homeJezek,
  .holky {
    max-width: 100%;
    box-sizing: border-box;
  }
  .container {
    padding: 5px;
  }
  .container2 {
    display: flex;
    flex-wrap: nowrap;
  }

  .title,
  .container2_project,
  .container2_aboutUs {
    font-size: 10px;
  }

  .home,
  .text,
  .medailon {
    font-size: 10px;
    height: 80%;
  }

  .smajlik {
    height: 9px;
    width: 9px;
  }
}

@media (min-width: 450px) {
  body {
    width: auto;
  }
  .container {
    padding: 5px;
  }

  .container2 {
    display: flex;
    flex-wrap: nowrap;
  }

  .textkocka,
  .homeJezek,
  .holky {
    max-width: 100%;
  }
}

@media (min-width: 700px) {
  body {
    width: auto;
  }

  .textkocka,
  .homeJezek,
  .holky {
    max-width: 100%;
  }

  .textkocka,
  .homeJezek,
  .holky {
    max-width: 100%;
  }
}
