* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: sans-serif;
}

.container {
  background-color: rgb(176, 171, 179);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.title,
.container2_project,
.container2_aboutUs {
  margin: 4px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.container1,
.container2 {
  text-shadow: 0.5px 0.5px 1px black;
}
.text,
.textAbout,
.medailon {
  font-size: 15px;
}

.textAbout {
  text-shadow: 0.5px 0.5px 1px gray;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a,
.title,
.container2_project,
.container2_aboutUs:hover {
  color: rgb(44, 172, 172);
}

.medailon_item {
  padding-left: 0px;
  list-style-type: none;
  font-size: 10px;
}

.kocka{
  margin-left: 30%;
  padding-top: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1), 
  0 2px 2px rgba(0, 0, 0, .1), 
  0 4px 4px rgba(0, 0, 0, .1), 
  0 8px 8px rgba(0, 0, 0, .1);
 }
 

@media (max-width: 400px) {
  body {
    width: auto;
  }

  .container {
    padding: 5px;
  }
  .container2 {
    display: flex;
    flex-wrap: nowrap;
  }

  .title,
  .container2_project,
  .container2_aboutUs {
    font-size: 12px;
  }

  .medailon_item,
  .text,
  .textAbout,
  .medailon {
    font-size: 10px;
  }
}

@media (min-width: 800px) {
  .body {
    width: 75%;
    margin: auto;
  }
}
